@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


.display-1,
.display-6,
h2 {
  font-family: "Kaushan Script", cursive;
}

body {
  font-family: "Cormorant Upright", serif;
  font-weight: 400;
  font-size: larger;
}

.menu-content {
  column-count: 1;
}

@media only screen and (min-width: 600px) {
  .menu-content {
    column-count: 2;
    column-gap: 20px;
    column-rule: 1px solid #da9100;
  }
}

@media only screen and (min-width: 768px) {
  .menu-content {
    column-count: 4;
  }
}

.carousel-item img {
  aspect-ratio: 9/6;
}
